.App {margin:0 auto;}
.JournalEditor { border:1px solid #e5e5e5; text-align:center; padding: 20px; }

.JournalEditor input { margin: 20px 0 0 0; padding:10px; width:500px; }
.JournalEditor textarea { width:500px; height:150px; margin: 20px 0 0 0; padding:10px; }
.JournalEditor select { margin: 20px 0 0 0; padding:10px; width:500px; }
.JournalEditor button { cursor:pointer; padding:10px; width:500px; margin: 20px 0 0 0;}
.JournalEditor .notification { color:darkgray; margin: 0 0 20px 0;}