.journal_container {
    display: grid;
    grid-template-columns: 25% 60% 15%;
    border-bottom: 1px solid gray;
    height: 200px;
    width: 90%;
    margin-left: 5%;
    padding: 10px;
}

.emotion_image {
    background-size: auto;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}

.journal_summary {
    font-family: "Raleway";
    text-align: left;
    padding: 5%;
}

.detail_btn {
    padding-top: 50%;
}