@font-face {
    font-family: "Raleway";
    font-display: fallback;

    src: url("./Raleway-Regular.ttf") format("truetype"), url("./Raleway-Regular.eot?iefix") format("embedded-opentype");

    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "YsabeauOffice";
    font-display: fallback;

    src: url("./YsabeauOffice-Regular.ttf") format("truetype"), url("./YsabeauOffice-Regular.eot?iefix") format("embedded-opentype");

    font-weight: 400;
    font-style: normal;
}